<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="$hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Create Board</h3>
            </div>
            <form name="myForm">
                <div class="modal-body">
                    <div id="alerts-container"></div>
                    <div class="form-group">
                        <label>What kind of Menu?</label>
                        <select ng-model="board.division" class="form-control" required>
                            <option value="">--choose--</option>
                            <optgroup ng-repeat="list in menuList" label="{{list.name}}">
                                <option ng-if="(!list.subMenuList || list.subMenuList.length === 0) && list.isBoard"
                                        ng-selected="board.division == list.name"
                                        value="{{list.name}}">
                                    Step1 - {{list.name}}
                                </option>
                                <option ng-repeat="subList in list.subMenuList | orderBy : 'rank' : false"
                                        ng-selected="board.division == subList.name"
                                        ng-if="subList.isBoard" value="{{subList.name}}">
                                    Step2 - {{subList.name}}
                                </option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="title" >Title</label>
                        <input type="text" class="form-control" id="title" ng-model="board.title" placeholder="Title" ng-blur="checkName()" required />
                    </div>
                    <div class="form-group">
                        <label for="title" >File</label>
                        <div file-box file-list="board.fileList"></div>
                    </div>
                    <div class="form-group">
                        <label for="content" >Content</label>
                        <div>
                            <div class="padding-5">
                                <text-angular ng-model="board.content" ng-if="!board.mark"></text-angular>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default btn-lg btn-block" ng-click="submit()"
                            ng-disabled="!!myForm.$error.required">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>