<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="board-list" ng-repeat="list in boardList">
            <a ng-href="{{list.url}}">
                <h2>
                    {{list.title}}
                </h2>
                <h3 class="board-small-content">
                    {{list.content | cutHtmlTagAndLimit : 20}}
                </h3>
            </a>
            <p class="board-meta">Posted by <a href="/">{{list.division}}</a> on {{list.regDt | date : 'MMMM dd, yyyy'}}</p>
        </div>
        <!-- Pager -->
        <div ng-if="totalCount > 10">
            <pagination class="pagination-lg" ng-model="currentPage" ng-change="pageChanged()" total-items="totalCount" max-size="10" items-per-page="view"></pagination>
        </div>
    </div>
</div>