<div id="boardDetail" class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="board-edit-box" >
            <span ng-if="!!$root.currentUser">
                <span>
                    <button class="btn btn-success btn-ms" ng-click="openCreateBoard()" data-trigger="hover" data-placement="bottom" data-type="success" data-title="Create Board" bs-tooltip>
                         <i class="fa fa-pencil"></i>
                    </button>
                </span>
                <span ng-if="$root.currentUser._id == board.userId">
                    <button class="btn btn-warning btn-ms" ng-click="openEditBoard()" data-trigger="hover" data-placement="bottom" data-type="warning" data-title="Edit Board" bs-tooltip>
                        <i class="fa fa-pencil-square-o"></i>
                    </button>
                </span>
                <span ng-if="$root.currentUser._id == board.userId">
                    <button class="btn btn-danger btn-ms" ng-click="deleteBoard()" data-trigger="hover" data-placement="bottom" data-type="danger" data-title="Delete Board" bs-tooltip>
                        <i class="fa fa-trash-o"></i>
                    </button>
                </span>
            </span>
            <span>
                <a class="btn btn-primary btn-ms" ng-href="/board/{{board.division}}" data-trigger="hover" data-placement="bottom" data-type="info" data-title="Go List" bs-tooltip>
                    <i class="fa fa-list"></i>
                </a>
            </span>
            <span class="dropdown" ng-if="board.fileList.length > 0">
                <button class="btn btn-info btn-ms"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        data-trigger="hover" data-placement="bottom" data-type="info" data-title="File List" bs-tooltip>
                    <i class="fa fa-file"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li ng-repeat='list in board.fileList'>
                        <div ng-if="list.type.indexOf('image') < 0">
                            <a ng-href="{{list.url}}" download="{{list.name}}" target="_self">
                                {{list.name}}
                            </a>
                        </div>
                        <div ng-if="list.type.indexOf('image') > -1">
                            <a ng-href="{{list.url}}" target="_blank">
                                {{list.name}}
                            </a>
                        </div>
                    </li>
                </ul>
            </span>
        </div>
        <div ng-model="board.content" ta-bind="text"></div>
    </div>
</div>