.board-list {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border: 0;
    border-bottom: 1px solid #eee;
}

.board-small-content {
    margin: 0 0 10px 0;
    font-weight: 300;
}

.board-meta {
    color: gray;
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
}

.board-list> .board-meta>a {
    text-decoration: none;
    color: #404040;
    font-style: italic;
    font-weight: 700;
}

.board-list>.board-meta>a:hover,
.board-list>.board-meta>a:focus {
    color: #23527c;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 230px;
    height: 65px;
    text-align: center;
    padding-top: 25px;
    margin-left: 10px;
}

.drop-box.dragover {
    border: 5px dashed blue;
}

.drop-box.dragover-err {
    border: 5px dashed red;
}