.board-list {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border: 0;
    border-bottom: 1px solid #eee;
}

.board-small-content {
    margin: 0 0 10px 0;
    font-weight: 300;
}

.board-meta {
    color: gray;
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
}

.board-list> .board-meta>a {
    text-decoration: none;
    color: #404040;
    font-style: italic;
    font-weight: 700;
}

.board-list>.board-meta>a:hover,
.board-list>.board-meta>a:focus {
    color: #23527c;
}

.board-edit-box {
    margin-bottom: 10px;
    text-align: right;
}

.board-edit {
    position: relative;
}

.board-alert {
    position: fixed;
    left: 45%;
}

#boardDetail .dropdown {
    position: static;
}

#boardDetail .open .dropdown-menu {
    display: block;
    padding: 5px;
    right: 0;
    left: auto;
    top: 35px;
}

#boardDetail .open .dropdown-menu a {
    padding: 10px;
}

#boardDetail .open .dropdown-menu li:hover a,
#boardDetail .open .dropdown-menu li:focus a{
    color: #fff;
}

#boardDetail .open .dropdown-menu li:hover,
#boardDetail .open .dropdown-menu li:focus {
    background-color: #31b0d5;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
}