.alert-error {
    text-align: center;
    font-size: 20px;
    position: fixed;
    z-index: 1050;
    top: 30%;
    left: 41%;
    width: 300px;
}

.error-box {
    color: red;
    font-weight: bolder;
}