/* file */
.file-icon {
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
}

.file-icon .fa-file-text-o {
    cursor: pointer;
    display: inline-block;
    font-size: 25px;
    padding-top: 12px;
    padding-left: 2px;
    cursor: inherit;
}

.file {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.file >li {
    margin-left: 5px;
    width: 75px;
    word-wrap: break-word;
    float: left;
    position: relative;
}

.file-list {
    margin-top: 15px;
}

.file .file-remove {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    font-weight: bolder;
    cursor: pointer;
}

.file .progress {
    height: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.file img {
    height: 50px;
    width: 50px;
    margin: 0 auto;
}

.file .btn-box {
    padding: 5px;
    text-align: center;
    line-height: 1.8;
}

.file dd {
    word-break: break-all;
    padding-bottom: 5px;
}

.file .popover {
    max-width: 100%;
    min-width: 300px;
}

.file .file-loading {
    background-color: rgba(0,0,0, 0.6);
    width: 75px;
    height: 110px;
    position: absolute;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 230px;
    height: 65px;
    text-align: center;
    padding-top: 17px;
    margin-left: 10px;
}

.drop-box.dragover {
    border: 5px dashed blue;
}

.drop-box.dragover-err {
    border: 5px dashed red;
}