header {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.navbar-default {
    border-color: transparent;
    background-color: transparent;
    -webkit-transition: all .45s;
    -moz-transition: all .45s;
    transition: all .45s;
}

.navbar-default .container-fluid {
    position: relative;
}

.navbar-default .navbar-brand {
    font-weight: 800;
    color: #fff;
}

.navbar-default .menu-btn {
    float: right;
    display: block;
    color: #fff;
    cursor: pointer;
    z-index: 999;
    border: 1px solid  white;
    margin: 5px;
    border-radius: 5px;
}
.navbar-default .menu-btn .fa{
    font-size: 25px;
    font-weight: 200;
    margin: 8px 10px;
}


.navbar-default .menu-btn:hover,
.navbar-default .menu-btn:focus {
    color: #fff;
    background-color: #404040;
}

.navbar-default.affix {
    border-color: rgba(34,34,34,.8);
    background-color: rgba(255,255,255,0.8);
}

.navbar-default.affix .navbar-toggle {
    border-color: #888;
}

.navbar-default.affix .menu-btn {
    color: #888;
    border-color: #888;
}

.navbar-default.affix .navbar-header .navbar-brand {
    font-size: 16px;
    color: #404040;
}

.navbar-default.affix .navbar-header .navbar-brand:hover,
.navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #323232;
}

@media (min-width: 768px) {
    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
        width: 100%;
    }
}