.intro-header {
    background-color: gray;
    background: no-repeat center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 50px;
}

.intro-header .title-box h1 {
    font-size: 55px;
}

.intro-header .title-box .sub-title{
    font-weight: 300;
    font-size: 23px;
}
.intro-header .title-box {
    padding: 100px 0 50px;
    text-align: center;
    color: white;
}

@media only screen and (min-width: 768px) {
    .intro-header .title-box h1 {
        font-size: 80px;
    }

    .intro-header .title-box {
        padding: 150px 0;
    }

}