<div ngf-drop ngf-select ngf-change="addFile($files)" class="drop-box"
     ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true">Drop file here or click to upload</div>
<div class="file-list">
    <ul class="file">
        <li ng-repeat="file in files">
            <div class="file-icon" ng-if="file.original.type.indexOf('image') < 0">
                <i class="fa fa-file-text-o"></i>
            </div>
            <div class="text-center" ng-if="file.original.type.indexOf('image') > -1">
                <a ng-href="{{file.url()}}" target="_blank"><img draggable="false" ng-src=" {{ file.url() }}" class="img-circle" /></a>
            </div>
            <div class="btn-box">
                <button class="btn btn-default btn-xs" ng-click="showInfo(list)">Show Info</button>
                <button class="btn btn-danger btn-xs" ng-click="remove(file._id)">Remove</button>
            </div>
        </li>
    </ul>
</div>