<!--
<board-list per-page="5"></board-list>-->

<div file-box></div>

<!--

<div class="party-image-container" ng-repeat="image in files">
    <button ng-click="remove(image._id)">ddd</button>
    <a ng-href="{{image.url()}}" download="{{image.original.name}}" target="_self">load</a>
    <p>{{image.original}}
        <br>
        {{image.url()}}
        {{image._id}}

        <img ng-if="image.original.type.indexOf('image') > -1" draggable="false" ng-src=" {{ image.url() }} "/><br/>
    </p>
</div>
<br>
<br>
<div ngf-drop ngf-select ngf-change="addFile($files)" class="drop-box"
     ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true">Drop file here or click to upload</div>-
-->
