<div class="ngdialog-message">
    <h2>Sign In</h2>
    <hr>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">ID</label>
            <input type="text" class="form-control" id="ID" placeholder="ID">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Auto Login
            </label>
        </div>
    </form>
    <hr>
</div>
<div class="ngdialog-buttons mt">
    <button type="button" class="btn btn-default btn-lg btn-block" ng-click="$hide()">Login</button>
</div>

<!--
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title">Sign In</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-lg btn-block" ng-click="$hide()">Login</button>
            </div>
        </div>
    </div>
</div>-->
