<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="$hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Menu</h3>
            </div>
            <form name="myForm">
                <div class="modal-body">
                    <select class="form-control">
                        <option value="">==New==</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default btn-lg btn-block"
                            ng-click="edit()" ng-disabled="!!myForm.$error.required || !showButtom">
                        Edit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>