<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="$hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Menu</h3>
            </div>
            <form name="myForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="division" value="create" ng-model="division"> create
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="division" value="update" ng-model="division"> Update
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="division" value="delete" ng-model="division"> Remove
                        </label>
                    </div>
                    <div class="form-horizontal" ng-if="!!division">
                        <div class="form-group">
                            <div>
                                <label for="selectMenuStep1" class="col-sm-1 control-label">Step1</label>
                                <div class="col-sm-5">
                                    <select class="form-control" id="selectMenuStep1" ng-change="changeStep1()"
                                            ng-model="select.step1" ng-options="list.name for list in menuList">
                                        <option value="">== {{division == 'create' ? 'new' : 'select' | firstCharUpper}} ==</option>
                                    </select>
                                </div>
                            </div>
                            <div ng-show="!!select.step1">
                                <label for="selectMenuStep2" class="col-sm-1 control-label">Step2</label>
                                <div class="col-sm-5">
                                    <select class="form-control" id="selectMenuStep2" ng-change="changeStep2()"
                                            ng-model="select.step2" ng-options="list.name for list in step2List">
                                        <option value="">== {{division == 'create' ? 'create' : 'select' | firstCharUpper}} ==</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="!!division">
                        <hr>
                        <h4>
                            <span ng-if="division == 'create'">
                                {{!!select.step1 ? 'Step2' : 'Step1'}}
                            </span>
                            <span ng-if="division != 'create'">
                                {{!!select.step2 ? 'Step2' : 'Step1'}}
                            </span>
                            {{division | firstCharUpper}}
                            <span ng-if="!!select.step1 && division != 'create'">
                                ({{!!select.step2 ? select.step2.name : select.step1.name}})
                            </span>
                            <span ng-if="!select.step1 && division != 'create'">
                                (Select Step1)
                            </span>
                        </h4>
                    </div>
                    <div ng-if="!!division && division != 'delete'">
                        <div class="form-group" ng-class="{'has-error' : nameError}">
                            <label for="name" >Name</label>
                            <input type="text" class="form-control" id="name" ng-model="menu.name" placeholder="Name" ng-blur="checkName()" required />
                            <div class="error-box" ng-if="nameError">Duplicate menu name</div>
                        </div>
                        <div class="form-group">
                            <label for="rank" class="control-label">Rank</label>
                            <input type="number" class="form-control" id="rank" ng-model="menu.rank" placeholder="Rank" required />
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="menu.isBoard" ng-click="checkDivision('board')"> Is Board?
                                </label>
                                <label>
                                    <input type="checkbox" ng-model="menu.isBookmark" ng-click="checkDivision('bookmark')"> Is Bookmark?
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="url" class="control-label">url</label>
                            <input type="text" class="form-control" id="url" ng-model="menu.url" ng-disabled="menu.isBoard || menu.isBookmark" placeholder="URL" required />
                        </div>
                    </div>
                </div>
                <div class="modal-footer" ng-if="!!division">
                    <button class="btn btn-default btn-lg btn-block" ng-click="todo()"
                            ng-disabled="!!myForm.$error.required || nameError">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>