<aside class="menu-box-right" id="menuBox">
    <div class="menu-header">
        <div class="btn-group">
            <img src="" alt="my photo" class="img-circle my-photo"/>
            <h5 class="pointer" ng-if="$root.currentUser" data-animation="am-flip-x" bs-dropdown="adminMenu" placement="bottom" html="true">
                권동준
                <i class="fa fa-caret-down"></i>
            </h5>
            <h5 class="pointer" ng-if="!$root.currentUser" ng-click="openLogin()">
                권동준
            </h5>
        </div>
    </div>
    <nav>
        <h5 class="sidebar-header">Navigation</h5>
        <ul class="nav">
            <li ng-repeat="list in menuList" ng-class="{'active' : list.active}">
                <a ng-if="!list.subMenuList" ng-href="{{list.url}}">{{list.name}}</a>
                <a ng-if="!!list.subMenuList" type="button" ng-click="menuClose()" data-toggle="collapse" data-target="#{{list.name}}" aria-expanded="false">
                    <i ng-class="list.icon"></i> {{list.name}}
                </a>
                <ul class="sub-nav collapse" ng-if="!!list.subMenuList" id="{{list.name}}" >
                    <li ng-repeat="subList in list.subMenuList" ng-class="{'active' : subList.active}">
                        <a ng-href="{{subList.url}}">
                            {{subList.name}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>