<header class="container-fluid">
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button id="toggleMenuBtn" type="button" class="navbar-toggle" ng-click="toggleMenu()">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="menu-btn"><i class="fa fa-bars"></i></div>
                <a class="navbar-brand" href="index.html">DongJun's Blog</a>
            </div>
        </div>
    </nav>
</header>
<aside id="menu">
    <nav>
        <h5 class="sidebar-header">Navigation</h5>
    </nav>
</aside>